{
    "presets": [
        [
            "env", {
                "modules": false,
                "targets": {
                    "browsers": ["> 1%", "last 2 version", "not ie <= 8"]
                }
            }
        ]
    ]
}